<form class="{{cssClass}} flexcol" autocomplete="off">
	<div class="actor__grid">
		<div class="actor__sidebar">
			<div class="actor__image-frame">
				<img
					alt="{{actor.name}}"
					src="{{actor.img}}"
					title="{{actor.name}}"
					data-edit="img"
				/>
			</div>
			<div class="actor__name">
				<input
					class="sidebar-input__large"
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="{{localize 'JCOM.actor.name.placeholder'}}"
					data-tooltip="{{localize 'JCOM.actor.name.placeholder'}}"
				/>
			</div>
		</div>
		<div class="actor__body"></div>
	</div>
</form>
